@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html {
  scroll-behavior: smooth;
}

::selection, ::-moz-selection {
  color: white;
  background: black;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: #ffffff;
}

#sales{
  background-color: #E8E7E3;
}

.swiper-wrapper {
  transition-timing-function: linear !important;
}
